name: Deploy to GitHub Pages

on:
  push:
    branches:
      - release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Check versions
        run: |
          node --version
          npm --version

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: |
          echo "Starting build..."
          npm run build
        env:
          CI: false

      - name: Deploy
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          npm run deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
